/* Fonts */
@font-face {
    font-family: "Cooper-Black";
    src: url(./fonts/Cooper-Black-Regular/Cooper-Black\ -Regular.ttf) format('truetype');
  }

/* Universal styles */

html {
    font-size: 16px;
}
h1, h2, h3, p, li, figcaption {
    font-family: Arial, Verdana, sans-serif;
    color: #000;     
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.4rem;
}

/* Header and Nav sections */
header {
    width: 100%;
    height: 550px;
    background-image: url('./images/banner.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    width: 80%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 10%;
    z-index: 5;
    background-color: #FF561F;
    box-shadow: 2px 2px 5px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 40px;
    padding: 0 1rem;
}

nav ul {
    display: flex;
    padding: 0 1rem;
}

li a {
    padding: 0.5rem;
    border-radius: 5%;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    background-color: hsla(0, 100%, 100%, 0.5);
}

header .text {
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
}

header h1 {    
    font-family: "Cooper-Black";
    color: #FF671E;
}

header h2 {
    width: 50%;
    background-color: hsla(0, 100%, 100%, 0.5);
    font-family: "Cooper-Black";
    color: hsl(0 0% 25%);
    text-shadow: 2px 2px 10px #000;
    text-transform: uppercase;
    padding: 2%;
    margin: 2% auto;
    border: 1px solid hsl(0 0% 80%);
    border-radius: 5px;
}

/* Destinations section */
#destinations {
    width: 80%;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#destinations .box {
    width: 20%;
    min-width: 160px;
    padding: 7px;
    margin: 2.5% 0;
    border: 3px solid hsla(0 0% 80% 0.5);
    background: linear-gradient(90deg, rgba(255,86,31,1) 0%, rgba(255,103,30,1) 35%, rgba(255,125,28,1) 100%);
}

.destination img {
    width: 100%;
}

.destination figcaption {
    text-align: center;
    color: white;
}

/* Promise section */
#promises {
    width: 100%;
    min-height: 400px;
    background-image: url('./images/promise-bg.png');
}

#promise-container {
    width: 80%;
    margin: 0 auto;
    padding: 8% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promise.box {
    width: 18%;
    min-width: 160px;
    min-height: 160px;
    text-align: center;
    background-color: hsla(0, 100%, 100%, 0.2);
    margin: 2.5% 0;
}

.promise h3 {
    padding: 5%;
    text-transform: uppercase;
    color: #FFF;
}

.promise p {
    padding: 5%;
    color: #FFF;
}

/* Team section */


/*Footer section*/