/* Fonts */
@font-face {
    font-family: "Cooper-Black";
    src: url(./fonts/Cooper-Black-Regular/Cooper-Black\ -Regular.ttf) format('truetype');
  }

/* Universal styles */

html {
    font-size: 16px;
}

@media screen and (max-width: 450px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }
}

h1, h2, h3, p, li, figcaption {
    font-family: Arial, Verdana, sans-serif;
    color: #000;     
}

h1 {
    font-size: 5em;
}

h2 {
    width: 50%;
    font-size: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 3%;
    background: linear-gradient(90deg, rgba(255,86,31,1) 0%, rgba(255,103,30,1) 35%, rgba(255,125,28,1) 100%);
    color: #FFF;
    font-weight: 700;
    margin: 3% auto 0 auto;
    border-radius: 10px;
}

/* h2 for mobile */

@media screen and (max-width: 450px) {
    h2 {
        width: 100%;
        border-radius: 0;
    }
}

h3 {
    font-size: 1.4rem;
}

/* Header and Nav sections */
header {
    width: 100%;
    height: 550px;
    background-image: url('./images/banner.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 80%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 10%;
    z-index: 5;
    background-color: #FF561F;
    box-shadow: 2px 2px 5px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #logo {
    height: 40px;
    padding: 0 1rem;
}

nav #logo-small {
    display: none;
    height: 40px;
    padding: 0 1rem;
}

nav ul {
    display: flex;
    padding: 0 1rem;
}

li a {
    padding: 0.5rem;
    border-radius: 5%;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    background-color: hsla(0, 100%, 100%, 0.5);
}

header .text {
    width: 50%;
    padding-top: 10%;
    text-align: center;
}

header h1 {    
    font-family: "Cooper-Black";
    color: #FF671E;
}

header h2 {
    width: 50%;
    background: none;
    background-color: hsla(0, 100%, 100%, 0.5);
    font-family: "Cooper-Black";
    color: hsl(0 0% 25%);
    text-shadow: 2px 2px 10px #000;
    padding: 2%;
    margin: 2% auto;
    border: 1px solid hsl(0 0% 80%);
    border-radius: 5px;
}

/* Hamburger icon styles */
#hamburger-container {
    margin: 5%;
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
  }

/* Header and Nav for mid-size screens */

@media all and (max-width: 1000px) {
    nav #logo {
        display: none;
    }

    nav #logo-small {
        display: block;
    }
}

/* Header and Nav for small-size screens */

@media all and (max-width: 760px) {
    nav #logo {
        display: none;
    }

    nav #logo-small {
        display: block;
    }

    nav {
        width: 100%;
        left: 0;
        flex-flow: row-reverse;
    }

    nav ul {
        height: 100%;
        display: none;
        flex-flow: column;
        justify-content: space-around;
    }

    nav #hamburger-container {
        display: block;
    }

    header {
        height: 300px;
        background-image: url('./images/promise-bg.png');
    }

    header h1 {
        color: #FFF;
        font-size: 3rem;
    }

    header h2 {
        display: none;
    }

    /* Toggle navbar styles */
    /* Rotate first bar */
    nav.change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    /* Fade out the second bar */
    nav.change .bar2 {
        opacity: 0;
    }
    
    /* Rotate last bar */
    nav.change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    /* Hide easyJet icon */
    nav.change #logo-small {
        display: none;
    }

    /* Expand navbar */
    nav.change {
        height: 25%;
        flex-flow: column;
        align-items: center;
    }

    /* Keep cross icon on top left corner */

    nav.change #hamburger-container {
        align-self: flex-start;
        position: absolute;
    }

    /* Display menu items */

    nav.change ul {
        display: flex;
    }
    /* END toggle navbar styles */
}

/* Destinations section */

#destinations {
    width: 80%;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#destinations .box {
    width: 20%;
    min-width: 160px;
    padding: 7px;
    margin: 2.5%;
    border: 3px solid hsla(0 0% 80% 0.5);
    background: linear-gradient(90deg, rgba(255,86,31,1) 0%, rgba(255,103,30,1) 35%, rgba(255,125,28,1) 100%);
}

.destination img {
    width: 100%;
}

.destination figcaption {
    text-align: center;
    color: white;
}

/* Destination section for mobile */

@media all and (max-width: 450px) {
    #destinations {
        width: 100%;
        justify-content: center;
    }

    #destinations .box {
        width: 70%;
    }
}

/* Promise section */

#promises {
    width: 100%;
    min-height: 400px;
    background-image: url('./images/promise-bg.png');
    margin-top: 5%;
}

#promise-container {
    width: 80%;
    margin: 0 auto;
    padding: 8% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.promise.box {
    width: 18%;
    min-width: 180px;
    min-height: 160px;
    text-align: center;
    background-color: hsla(0, 100%, 100%, 0.2);
    margin: 1%;
}

.promise h3 {
    padding: 5%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
}

.promise p {
    padding: 5%;
    color: #FFF;
}

/* Promise section for mobile */
@media screen and (max-width: 450px) {
    #promise-container {
        width: 100%;
        flex-flow: column;
    }

    .promise.box {
        width: 100%;
        margin: 2.5% 0;
    }
}

/* Team section */
#team {
    width: 80%;
    min-height: 500px;
    margin: 5% auto;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(255,86,31,1) 0%, rgba(255,103,30,1) 35%, rgba(255,125,28,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.team-member {
    width: 80%;
}

.team-member figure {
    display: flex;
    align-items: center;
}

.team-member figcaption {
    color: #FFF;
    padding: 0 10%;
}

.team-member img {
    width: 18%;
    min-width: 120px;
    border: 3px solid hsla(0, 100%, 100%, 0.5);
    border-radius: 5px;
}

.team-member h3, .team-member p {
    color: #fff;
    padding: 7% 0;
}


/*Footer section*/